<h1 th:text="#{valid-form.formtitle}"></h1>
<h2 th:text="#{valid-form.iteraciones} + ${' ' + iteraciones}"></h2>

<h3 class="error" th:text="${mensajeNOK}"></h3>
<h3 class="correcto" th:text="${mensajeOK}"></h3>

<form action="/formulario/recibe-parametros" method="post"
      th:object="${datosFormulario}" id="formulario">

  <!--Datos de usuario-->
  <fieldset>
    <legend th:text="#{valid-form.datosusuario}"></legend><!--Campo de nombre-->

    <!--Campo de nombre-->
    <label th:text="#{valid-form.nombre}" for="nombre"></label>
    <label>
      <input type="text" th:field="*{nombre}" th:placeholder="#{valid-form.ph.nombre}" tabindex="1">
    </label>
    <span th:each="err: ${#fields.errors('nombre')}"
          th:text="${err + '. '}" class="error"></span>

    <br><br>

    <!--Campo de clave-->
    <label th:text="#{valid-form.clave}" for="clave"></label>
    <label>
      <input type="password" th:field="*{clave}" th:placeholder="#{valid-form.ph.clave}" tabindex="2">
    </label>
    <span th:each="err: ${#fields.errors('clave')}"
          th:text="${err + '. '}" class="error"></span>
    <br><br>

    <!--Campo de confirmacion de clave-->
    <label th:text="#{valid-form.confirmarClave}" for="confirmarClave"></label>
    <label>
      <input type="password" th:field="*{confirmarClave}" th:placeholder="#{valid-form.ph.confirmarclave}" tabindex="3">
    </label>
    <span th:each="err: ${#fields.errors('confirmarClave')}"
          th:text="${err + '. '}" class="error"></span><br>
    <span th:each="err: ${erroresClavesCoinciden}"
          th:text="${err}" class="error"></span>
    <br><br>
    <input type="button" th:value="#{valid-form.mostrarclave}" onclick="mostrarClaves()" tabindex="4">
  </fieldset>

  <!--Datos personales-->
  <fieldset>
    <legend th:text="#{valid-form.datospersonales}"></legend>

    <!--Campo de genero-->
    <label th:text="#{valid-form.genero}" for="generoSeleccionado"></label>
    <label>
      <input th:each="genero: ${listaGeneros}" tabindex="5"
             th:value="${genero.key}" th:text="${genero.value}"
             type="radio" name="generoSeleccionado"
             th:field="*{generoSeleccionado}">
    </label>
    <br><br>
    <button type="button" onclick="deseleccionarRadios('generoSeleccionado')" th:text="#{valid-form.borrar-genero}" tabindex="6"></button><br><br>

    <!--Campo de fecha de nacimiento-->
    <label th:text="#{valid-form.fechanacimiento}" for="fechaNacimiento"></label>
    <label>
      <input type="text" th:field="*{fechaNacimiento}" th:placeholder="#{valid-form.ph.fecha}" tabindex="7">
    </label>
    <span th:each="err: ${#fields.errors('fechaNacimiento')}"
          th:text="${err + '. '}" class="error"></span>
    <br><br>

    <!--Campo de edad-->
    <label th:text="#{valid-form.edad}" for="edad"></label>
    <label>
      <input type="text" th:field="*{edad}" th:placeholder="#{valid-form.ph.edad}" tabindex="8">
    </label>
    <span th:each="err : ${erroresEdadCoincide}"
          th:text="${err}" class="error"></span>

    <br><br>

    <!--Campo de peso-->
    <label th:text="#{valid-form.peso}" for="peso"></label>
    <label>
      <input type="text" th:field="*{peso}" th:placeholder="#{valid-form.ph.peso}" tabindex="9">
    </label>
    <span th:each="err: ${#fields.errors('peso')}"
          th:text="${err}" class="error"></span>

    <br><br>

    <!--Campo de pais-->
    <label th:text="#{valid-form.pais}" for="pais"></label>
    <label>
      <select name="paisSeleccionado" th:field="*{paisSeleccionado}" tabindex="10">
        <option th:each="pais: ${listaPaises}"
                th:value="${pais.key}" th:text="${pais.value.getPais()}"
                th:selected="${datosFormulario.paisSeleccionado == pais.key}"></option>
      </select>
    </label>
  </fieldset>

  <fieldset>
    <legend th:text="#{valid-form.datoscontacto}"></legend>

    <!--Campo de prefijo-->
    <label th:text="#{valid-form.prefijotelefono}" for="prefijo"></label>
    <label>
      <select th:field="*{prefijoTelefonicoPais}" tabindex="11">
        <option th:each="p: ${listaPaises}"
                th:value="${p.value.getPrefijoTelefonicoPais()}"
                th:selected="${datosFormulario.getPrefijoTelefonicoPais() == p.value.getPrefijoTelefonicoPais()}"
                th:text="${'+' + p.value.getPrefijoTelefonicoPais()}">

          <img th:src="@{/img/banderas/{bandera}(bandera=${p.value.getNombreArchivoBandera()})}">
        </option>
      </select>
    </label>
    <br><br>

    <!--Campo de telefono-->
    <label th:text="#{valid-form.telefono}" for="telefono"></label>
    <label>
      <input type="text" th:field="*{telefono}" th:placeholder="#{valid-form.ph.tlf}" tabindex="12">
    </label>
    <span th:each="err: ${#fields.errors('telefono')}"
          th:text="${err}" class="error"></span>

    <br><br>

    <!--Campo de email-->
    <label th:text="#{valid-form.email}" for="email"></label>
    <label>
      <input type="text" th:field="*{email}" th:placeholder="#{valid-form.ph.email}" tabindex="13">
    </label>
    <span th:each="err: ${#fields.errors('email')}"
          th:text="${err}" class="error"></span><br>
    <span th:each="err: ${erroresContactoRequerido}"
          th:text="${err}" class="error"></span>

    <br><br>

    <!--Campo de URL-->
    <label th:text="#{valid-form.url}" for="url"></label>
    <label>
      <input type="text" th:field="*{url}" th:placeholder="#{valid-form.ph.url}" tabindex="14">
    </label>
    <span th:each="err: ${#fields.errors('url')}"
          th:text="${err}" class="error"></span>
  </fieldset>

  <fieldset>
    <legend th:text="#{valid-form.otrainfo}"></legend>

    <!--Campo de archivos-->
    <label th:text="#{valid-form.archivos}" for="archivosSeleccionados"></label>
    <input type="file" multiple="multiple" th:field="*{archivosSeleccionados}" tabindex="">

    <br><br>

    <!--Campo de musica-->
    <label th:text="#{valid-form.musica}" for="musicasSeleccionadas"></label>
    <label>
      <select name="musicasSeleccionadas" multiple tabindex="15">
        <option th:each="m: ${listaMusicas}"
                th:value="${m.key}" th:text="${m.value}"
                th:selected="${datosFormulario.musicasSeleccionadas.contains(m.key)}"></option>
      </select>
    </label>
    <span th:each="err: ${#fields.errors('musicasSeleccionadas')}"
          th:text="${err}" class="error"></span>

    <br><br>

    <!--Campo aficiones-->
    <label th:text="#{valid-form.aficiones}" for="aficionesSeleccionadas"></label>
    <label>
      <input th:each="af: ${listaAficiones}"
             th:value="${af.key}" th:text="${af.value}"
             th:field="*{aficionesSeleccionadas}" type="checkbox" tabindex="16">
    </label>
    <span th:each="err: ${#fields.errors('aficionesSeleccionadas')}"
          th:text="${err}" class="error"></span>

    <br><br>

    <input type="button" onclick="seleccionarCheckboxes('aficionesSeleccionadas')" th:value="#{valid-form.aficiones.selec}" tabindex="17">
    <input type="button" onclick="deseleccionarCheckboxes('aficionesSeleccionadas')" th:value="#{valid-form.aficiones.unselec}" tabindex="18">

    <br><br>

    <!--Campo de comentarios-->
    <label th:text="#{valid-form.comentarios}" for="comentarios"></label>
    <label>
      <textarea th:field="*{comentarios}" th:placeholder="#{valid-form.ph.comentarios}" tabindex="19"></textarea>
    </label>
  </fieldset>

  <fieldset>
    <legend th:text="#{valid-form.operaciones}"></legend>

    <!--Campo de licencia-->
    <label th:text="#{valid-form.licencia}" for="licencia"></label>
    <label>
      <input type="checkbox" th:field="*{licencia}" th:value="${true}"
             tabindex="20">
    </label>
    <span th:each="err: ${#fields.errors('licencia')}"
          th:text="${err}" class="error"></span>

    <br><br>

    <!--Envío con imagen-->
    <input type="image" name="enviar_imagen" src="/img/flecha_derecha.png" alt="enviar"
           width="100" height="100" tabindex="21" onclick="confirmarEnvio('formulario')"><br><br>

    <!--Vaciar campos-->
    <input type="button" th:value="#{valid-form.vacio}" onclick="vaciarFormulario()" tabindex="22">

    <!--Reseteo-->
    <input type="reset" th:value="#{valid-form.reset}" tabindex="23" onclick="confirmaReseteo('formulario')">

    <!--Submit-->
    <input type="submit" th:value="#{valid-form.enviar}" tabindex="24" onclick="confirmarEnvio('formulario')"><br><br>

    <!--Cambio de idioma-->
    <label for="lang" th:text="#{valid-form.idioma}"></label>
    <select name="lang" id="lang" onchange="cambiarIdioma()" tabindex="25">
      <option value=""></option>
      <option th:each="p: ${listaPaises}" th:if="${p.value.muestraIdioma}"
              th:value="${p.key}" th:text="${p.value.getIdioma()}"></option>
    </select>
  </fieldset>

  <span th:text="${'Imagen.x: ' + enviar_img_x + ', e imagen.y: ' + enviar_img_y}"></span><br>
  <span th:text="${'Se han recibido ' + numParam + ' parámetros: ' + params}"></span>
</form>
