<p><strong th:text="#{cabecera.ip}"></strong> <span th:text="${requestInfo.clientIp}"></span></p>
<p><strong th:text="#{cabecera.navegador}"></strong> <span th:text="${requestInfo.userAgent}"></span></p>
<p><strong th:text="#{cabecera.so}"></strong> <span th:text="${requestInfo.operatingSystem}"></span></p>
<p><strong th:text="#{cabecera.motorrender}"></strong> <span th:text="${requestInfo.renderingEngine}"></span></p>
<p><strong th:text="#{cabecera.host}"></strong> <span th:text="${requestInfo.remoteHost}"></span></p>
<p><strong th:text="#{cabecera.idioma}"></strong> <span th:text="${requestInfo.preferredLanguage}"></span></p>
<p><strong th:text="#{cabecera.locale}"></strong> <span th:text="${requestInfo.locale}"></span></p>
