<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="#{valid-form.formtitle}"></title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="icon" href="data:,">
    <script src="/js/mostrarClaves.js"></script>
    <script src="/js/deseleccionaRadios.js"></script>
    <script src="/js/vaciarFormulario.js"></script>
    <script src="/js/cambiarCheckboxes.js"></script>
    <script src="/js/cambiarIdioma.js"></script>
    <script src="/js/confirmarReset.js"></script>
    <script src="/js/confirmarEnvio.js"></script>
</head>
<body>
    <div th:replace="/fragments/infoCabecera"></div>
    <div th:replace="/fragments/cuerpoFormulario"></div>
</body>
</html>
